name: Discord Notifier

on:
  schedule:
    - cron: "0 7 * * *"
    - cron: "0 19 * * *"
  workflow_dispatch:  # Allows manual triggering

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install requests

      - name: Run notification script
        run: python FeaturesBot.py
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
